*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: var(--bg-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* gap: var(--gutter-md); */
    justify-content: space-between;
}

.main .left{
    height: 100%;
    width: 59%;
    /* background-color: red; */
    padding-top: var(--padding-2xl);
    padding-left: var(--padding-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-xl);
}

.main .left .top{
    width: 90%;
    height: 12%;
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-2xl);
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gutter-lg);
}

.main .left .top .btn{
    width: 185px;
    height: 55px;
    font-size: var(--font-size-xl);
    border: none;
    border-radius: var(--border-radius-lg);
    color: var(--text-primary-color);
}

.main .left .top #fileSelected{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fileSelected{
    background-color: var(--bg-active-color);
    color: var(--text-active-color);
}

#reset{
    background-color: var(--bg-danger-color);
}

#downloadImage{
    background-color: var(--bg-success-color);
}

.main .left .bottom{
    width: 90%;
    height: 80%;
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-2xl);
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .left .bottom .placeholder {
    font-size: var(--font-size-2xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary-color);
}

.main .left .bottom .placeholder i{
    font-size: 10rem;
    opacity: 0.7;
}

.main .right {
    /* background-color: red; */
    height: 100%;
    width: 40.5%;
    display: flex;
    justify-content: end;
    padding-right: var(--padding-2xl);
    padding-top: var(--padding-2xl);
    /* margin-top: 10px; */
}

.main .right .filterContainer{
    width: 100%;
    height: 95%;
    background-color: var(--bg-secondary-color);
    border: solid 2px white;
    border-radius: var(--border-radius-2xl);
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    font-size: var(--font-size-xl);
}

.main .right .filterContainer h1{
    margin-top: 10px;
}

.main .right .filterContainer p{
    margin-top: var(--padding-lg);
    font-size: var(--font-size-xl);
}

.main .right .filterContainer input{
    width: 100%;
    margin-top: var(--padding-md);
    outline: none;
    appearance: none;
}

