*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: var(--bg-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.main{
    width: 100vw;
    height: 100vh;
}

.main .left{
    height: 100%;
    width: 59%;
    background-color: red;
    padding-top: var(--padding-2xl);
    padding-left: var(--padding-2xl);
}

.main .left .top{
    width: 90%;
    height: 12%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gutter-lg);
}

.main .left .top .btn{
    width: 185px;
    height: 55px;
    font-size: var(--font-size-xl);
    border: none;
    border-radius: var(--border-radius-lg);
    color: var(--text-primary-color);
}

.main .left .top #fileSelected{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fileSelected{
    background-color: var(--bg-active-color);
    color: var(--text-active-color);
}

#reset{
    background-color: var(--bg-danger-color);
}

#downloadImage{
    background-color: var(--bg-success-color);
}